body {
  color: #6b705c;
  font-family: sans-serif;
  background-color: #f8edeb;
}

/*Image is from www.unsplash.com*/
.hero-img {
  background-image: url(../images/techunsplash.jpg);
  display: flex;
  flex-wrap: wrap;
  max-width: 100vw;
  max-height: 23vw;
  align-items: flex-start;
  justify-content: center;
  background-size: cover;
  background-attachment: fixed;
  background-position: 50%;
  border-radius: 10% 15%;
}

.hero-img img {
  margin: 25px 10px 10px;
  border-radius: 50% 20% / 10% 40%;
  max-width: 15vw;
  max-height: 35vw;
  border-style: groove;
  border-width: 4px;
  border-color: #c18c5d;
}

header {
  padding: 0px 8px;
  background-color: #ecc8af;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* position: sticky;
  position: -webkit-sticky; */
  top: 0;
  border-radius: 10%;
}

header nav ul li a {
  padding: 10px 10px;
  font-family: sans-serif, "Tahoma";
  color: #6b705c;
  font-weight: bold;
  font-size: 20px;
  text-shadow: 0 0 10px rgba(#e7ad99, 0.5);
  text-decoration: none;
  list-style: none;
  transition: 1s;
}

header nav {
  margin: 15px 10px;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a:hover {
  background: #ffe8d6;
  font-family: sans-serif, "Tahoma";
  color: #6b705c;
  border-radius: 25% 10%;
  text-shadow: none;
  font-style: normal;
}

header h1 {
  font-weight: bold;
  font-family: sans-serif, "Tahoma";
  font-size: 34px;
  color: #ce796b;
  margin: 25px 10px 8px;
  text-shadow: 0 0 8px rgba(245, 168, 168, 0.3);
}
/* End of Header section */

/* Start of Sections */

.sections {
  /*  display: flex; */
  align-items: flex-start;
  width: auto;
  height: 80%;
  margin: 33%;
  padding: 1em;
  padding-bottom: 200px;
  color: #fff;
  font-size: 18px;
  line-height: normal;
  background-color: #b7b7a4;
  border-radius: 10%;
  justify-items: center;
}

#about-my-skills {
  font-family: Verdana, Tahoma, sans-serif;
  width: 75%;
  height: 50%;
  margin: 50px auto;
  padding-bottom: 10vw;
  color: #fff;
  font-size: 16px;
  line-height: normal;
  background-color: #b7b7a4;
  border-radius: 10%;
}

#about-me {
  text-align: center;
}

section h2 {
  font-size: 28px;
  font-weight: lighter;
  font-family: Verdana, Tahoma, sans-serif;
  text-align: center;
}

/* Beginning of projects section */
#my-projects {
  align-items: flex-start;
  justify-items: center;
  width: 80%;
  height: 40em;
  margin: 50px auto;
  padding-bottom: 5vw;
  color: #fff;
  font-size: 18px;
  line-height: normal;
  background-color: #495867;
  border-radius: 10%;
}

.project-two-img,
.project-three-img {
  display: flex;
  align-items: flex-start;
  justify-items: center;
  flex: 2 2 100px;
  max-width: 100%;
}

.project-one-img {
  max-width: 100%;
}

figure {
  display: grid;
  border: thin #495867 solid;
  display: flex;
  flex-flow: wrap;
  padding: 0px;
  max-width: 36%;
}

.run-buddy {
  display: grid;
  border-spacing: 0;
  justify-content: center;
  max-width: 80%;
  margin-left: 10vw;
}

.calculator {
  display: grid;
  border-spacing: 0;
  max-width: 50%;
  margin: auto;
  float: left;
  width: 20em;
}

.recipe-tracker {
  display: grid;
  border-spacing: 0;
  max-width: 48%;
  margin: auto;
  float: right;
  width: 20em;
}

figcaption {
  background-color: #e7ad99;
  color: #fff;
  font: smaller verdana;
  padding: 2px;
  margin-right: 3px;
}

.hover:hover {
  transition: 1s;
  image-resolution: #c18c5d;
  opacity: 50%;
}

.hover-run:hover {
  transition: 1s;
  image-resolution: #c18c5d;
  opacity: 50%;
}

.hover-one a {
  display: grid;
  max-width: 50vw;
  max-height: 35vw;
  justify-content: space-between;
}

/* beginning of footer section*/
.footer {
  font-size: 18px;
  padding: 8px 8px;
  background-color: #ecc8af;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  top: 0;
  border-radius: 25% 10%;
}

.footer a {
  font-size: 18px;
  text-decoration: none;
  color:ivory;
}

@media only screen and (min-width: 780px) {
  a {
    font-size: 30px;
    z-index: 100;
  }
}
