body {
  color: #fff;
  font-family: sans-serif;
  background-color: #fff;
}

/*Image is from www.unsplash.com*/
.hero-img {
  background-image: url(../images/techunsplash.jpg);
  display: flex;
  flex-wrap: wrap;
  max-width: 100vw;
  max-height: 23vw;
  align-items: flex-start;
  justify-content: center;
  background-size: cover;
  background-attachment: fixed;
  background-position: 50%;
  border-radius: 5%;
}

.profile-img {
  border-radius: 5%;
  margin-right: 80%;
  max-width: 15vw;
  max-height: 35vw;
  border-style: groove;
  border-width: 4px;
  border-color: #c18c5d;
}


header nav ul li a {
  padding: 10px 10px;
  font-family: sans-serif, "Tahoma";
  color: #8c2f39;
  font-weight: bold;
  font-size: 20px;
  text-shadow: 0 0 10px rgba(#d88e75, 0.5);
  text-decoration: none;
  list-style: none;
}

header nav {
  margin: 15px 10px;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  margin-left: 50%;
 float: inline-end;
  list-style: none;
}

header nav ul li a:hover {
  background: #e29f78;
  font-family: sans-serif, "Tahoma";
  color: #fff;
  border-radius: 25% 10%;
  text-shadow: none;
  font-style: normal;
  transition: 0.5s;
}

header h1 {
  font-weight: bold;
  font-family: sans-serif, "Tahoma";
  font-size: 34px;
  color: #8c2f39;
  border-radius: 5%;
  margin: 25px 10px 8px;
  text-shadow: 0 0 8px rgba(245, 168, 168, 0.3);
}
/* End of Header section */

/* Start of Sections */

#about-my-skills {
  font-family: Verdana, Tahoma, sans-serif;
  width: 75%;
  height: 50%;
  margin: 50px auto;
  padding-bottom: 10vw;
  color: #fff;
  font-size: 16px;
  line-height: normal;
  background-color: #8c2f39;
  border-radius: 5%;
}

#about-me {
  text-align: center;
  margin-top: 100px;
  text-align: center;
} 

section h2 {
  font-size: 28px;
  margin-top: 40px;
  font-weight: lighter;
  font-family: Verdana, Tahoma, sans-serif;
  text-align: center;
}

/* Beginning of projects section */
 #my-projects {
  align-items: flex-start;
  justify-items: center;
  width: 80%;
  height: 80%;
  margin: 100px;
  color: black;
  font-size: 18px;
  line-height: normal;
  background-color: #8c2f39;
  border-radius: 3%;
}


.hover-one a {
  display: grid;
  max-width: 50vw;
  max-height: 35vw;
  justify-content: space-between;
}

/* beginning of footer section*/
.footer {
  font-size: 18px;
  padding: 8px 8px;
  background-color: #ecc8af;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  top: 0;
  border-radius: 25% 10%;
}

.footer a {
  font-size: 18px;
  text-decoration: none;
  color:ivory;
}

@media only screen and (min-width: 780px) {
  a {
    font-size: 30px;
    z-index: 100;
  }
}
